<p>Hola / Hello <%= @resource.email %>!</p>

<p>
  Algú ha sol·licitat un canvi de contrasenya. Ho podeu fer seguint l'enllaç.<br />
  <i>Someone has requested a link to change your password. You can do this through the link below.</i>
</p>

<p><%= link_to 'Canvia la meva contrasenya / Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  Si no ho haveu sol·licitat, podeu ignorar aquest correu <br />
  <i>If you didn't request this, please ignore this email.</i>
</p>
<p>
  La vostra contrasenya no es canviarà fins haver-ne creat una de nova.<br />
  <i>Your password won't change until you access the link above and create a new one.</i>
</p>
